.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;

    @media screen and (max-width: 480px) {
        justify-content: left;
        max-width: 400px;    
    }
    
    @media screen and (min-width: 614px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filter__item {
    margin-bottom: 15px;
    margin-right: 8px;

    @media screen and (min-width: 614px) {
        margin-bottom: 0;
    }
}

.filter__button {
    min-width: 73px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    
    transition: color 250ms $cubic-bezier-transition,
        background-color 250ms $cubic-bezier-transition,
        box-shadow 250ms $cubic-bezier-transition;

    .filter__item:first-child & {
        padding: 6px 25px;
    }

    @include filter-button()
}
