.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
    gap: 15px 8px;
    
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filter__button {
    min-width: 73px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    
    transition: color 250ms $cubic-bezier-transition,
        background-color 250ms $cubic-bezier-transition,
        box-shadow 250ms $cubic-bezier-transition;

    @include filter-button()
}
