body {
    background-color: $primary-light-color;
    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: $main-elements-gap;
    padding-bottom: $main-elements-gap;
}

.title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: calc(42/36);
    color: $title-text-color;
}