$primary-text-color: #757575;
$title-text-color: #212121;
$black-color :#000000;
$accent-color: #2196F3;
$background-accent-color: #188CE8;
$primary-light-color: #ffffff;
$background-light-color: #F5F4FA;
$background-dark-color: #2F303A;
$header-border: #ECECEC;
$cards-border-color: #EEE;
$icons-fill-color: #AFB1B8;
$card-set-gap: 30px;
$main-elements-gap: 94px;
$button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
$command-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$modal-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-mailbox-border: rgba(255, 255, 255, 0.3);
$gradient-overlay-color: rgba(47, 48, 58, 0.4);
$portfolio-projects-overlay: rgba(33, 150, 243, 0.9);
$dark-social-bg: rgba(255, 255, 255, 0.1);
$close-button-border: rgba(0, 0, 0, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$cubic-bezier-transition: cubic-bezier(0.4, 0, 0.2, 1);
$input-box-border: rgba(33, 33, 33, 0.2);
$input-box-placeholder: rgba(117, 117, 117, 0.5);