.advantages__heder {
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $title-text-color;
}

.advantages__list {
    display: flex;
}

.advantages__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: calc(24/14);
}

.advantages__item {
    width: 270px;
    & + .advantages__item {
        margin-left: $card-set-gap;
    }
}

.advantages__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $background-light-color;
}