.command__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -30px;

    @media screen and (min-width: 768px) {
        margin-right: -$card-set-gap;
    }
}

.command__bg {
    background-color: $background-light-color;
}

.command__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
            margin-right: $card-set-gap;
        }
}

.card {
    background-color: $primary-light-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $command-card-shadow;
}

.card__content {
    padding-top: $card-set-gap;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
        padding-bottom: $card-set-gap;
    }
}

.card__person {
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 500;
}

.card__text {
    text-align: center;
    font-size: 16px;
    line-height: calc(19/16);
}

.social li + li {
    margin-left: 10px;
}
