.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    opacity: 1;

    transition: opacity 400ms $cubic-bezier-transition,
        visibility 400ms $cubic-bezier-transition;
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    &.is-hidden .modal {
        transform: translateX(-50%) scale(0.1);
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 221px;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background: $primary-light-color;
    box-shadow: $command-card-shadow;
    border-radius: 4px;

    transform: translateX(-50%) scale(1);
    transition: transform 400ms $cubic-bezier-transition;
}

.modal__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: $primary-light-color;
    border: 1px solid $close-button-border;
    border-radius: 50%;
    cursor: pointer;
    fill: $black-color;
    &:hover {
        fill: $accent-color;
    }
}

/* Forms */

.subscription-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-bottom: 12px;
}

.subscription-form__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: $primary-text-color;
}

.subscription-form__field {
    position: relative;
    margin-bottom: 10px;
    &--bottom {
        margin-bottom: 20px;
    }
}

.subscription-form__input {
    display: block;
    box-sizing: border-box;
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid $input-box-border;
    border-radius: 4px;
    transition: border 250ms $cubic-bezier-transition;
    &:focus-within {
        border: 1px solid $accent-color;
        outline: none;
    }
    &:focus-within+.subscription-form__icon {
        fill: $accent-color;
    }
}

.subscription-form__comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;
    &:not(:focus-within) {
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
        color: $input-box-placeholder;
    }
}

.subscription-form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms $cubic-bezier-transition;
}

.subscription-form__checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
}

.subscription-form__checkbox {
    &:focus + .subscription-form__checkbox-icon {
        outline: 1px solid $accent-color;
    }
    &:checked + .subscription-form__checkbox-icon {
        border-color: $accent-color;
        background-color: $accent-color;
        background-image: url('../images/check_mark.svg');
        background-size: contain;
        background-origin: border-box;
    }
}

.subscription-form__agreement {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.subscription-form__license {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.subscription-form__policy {
    color: $accent-color;
}

.modal__button {
    display: block;
    min-width: 200px;
    margin: 0 auto;
    box-shadow: $modal-button-shadow;
}
