.menu-toggle {
    display: inline-flex;
    margin: 0;
    padding: 0;
    fill: $title-text-color;
    background-color: transparent;
    border: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: $primary-light-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 21px;
    right: 25px;
}

.mobile-navigation__item:not(:last-child) {
    padding-bottom: 32px;
}

.mobile-navigation__link {
    @extend %mobile-menu-text;
    font-size: 40px;
    line-height: calc(47/40);
    color: $title-text-color;

    &.current {
        color: $accent-color;
    }
}

.mobile-contacts {
    display: flex;
    flex-direction: column;
} 

.mobile-contacts__item:not(:last-child) {
    padding-bottom: 32px;
}

.mobile-contacts__tel {
    @extend %mobile-menu-text;
    font-size: 34px;
    line-height: calc(40/34);
    color: $primary-text-color;
    @media screen and (max-width: 378px) {
        font-size: 24px;
        line-height: calc(28/24);
    }

}

.mobile-contacts__mail {
    @extend %mobile-menu-text;
    color: $primary-text-color;
    font-size: 24px;
    line-height: calc(28/24);
}

.mobile-social {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
}

.mobile-social__item {
    margin-right: 10px;
    margin-bottom: 10px;

    &:not(:first-child) {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child) {
        padding-left: 10px;
    }
}

.mobile-social__link {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 18px;
    line-height: calc(22/18);
    color: $accent-color;
    @media screen and (max-width: 378px) {
        font-size: 10px;
        line-height: calc(12/10);
    }
}
